body{
    background-color: rgb(238, 241, 255);
    display: flex;
    justify-content: space-around;
}

button{
    display: flex;
    font-size: 100%;
    width: 10rem;
    justify-content: center;
    margin: .5rem;
    border: none;

}

button:hover{
    opacity: .9;
    transition: opacity 1ms ease;
    font-weight: bold;
}


.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 50%;
    align-items: center;
}

.menu:first-child{
    display: flex;
    justify-content: space-around;
    gap: .5rem;
}

.menu > div:last-child{
    display: flex;
}

.menu > div:last-child > button{
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
}

[class^="set"]:nth-child(1){
    background-color: rgb(255, 148, 148);
}

[class^="set"]:nth-child(2){
    background-color: rgb(198, 137, 198);
}

[class^="set"]:nth-child(3){
    background-color: rgb(225, 255, 177);
}

.container{
    display: flex;
    flex-direction: column;
    width: calc(40vw - 20px);
    height: calc((40vw - 20px));
    aspect-ratio: 1/1;
    margin-top: 1rem;
}

.row{
    display: flex;
    flex: 0 1 10rem;
    align-content: center;
    text-align: center;
}

.column{
    aspect-ratio: 1/1;
    flex: 0 1 ;
    align-content: center;
    box-sizing: content-box;
}

.column:hover{
    opacity: .5;
    transition: opacity 1ms ease-in-out;
}

.menu{
    width: min(50%, 7rem);
}


