body{
    background-color: rgb(238, 241, 255);
    display: flex;
    justify-content: space-around;
}

button{
    display: flex;
    font-size: 3px;
    width: 2rem;
    justify-content: center;
    margin: .5rem;
    border: none;

}

button:hover{
    opacity: .9;
    transition: opacity 1ms ease;
    font-weight: bold;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-button{
    display: flex;
    justify-content: space-around;
    gap: .5rem;
}

.change-background{
    display: flex;
    gap: .5rem
}

.container{
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 10rem;
    aspect-ratio: 1/1;
}

.row{
    display: flex;
    flex: 0 1 10rem;
    align-content: center;
    text-align: center;
}

/*set this class as grid-(size of grid)*/

.column{
    aspect-ratio: 1/1;
    flex: 0 1 ;
    align-content: center;
    box-sizing: content-box;
}

.column:hover{
    opacity: .5;
    transition: opacity 1ms ease-in-out;
}

